<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <title>FastFeast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Navbar Start -->
    <header id="header"></header>
    <!-- Navbar End -->
    <!-- Content Start -->
    <section class="login">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div th:if="${param.error}">
              <div class="alert alert-danger">Helytelen email vagy jelszó</div>
            </div>
            <div th:if="${param.logout}">
              <div class="alert alert-success">You have been logged out.</div>
            </div>
            <div class="card">
              <div class="card-header">
                <h2 class="text-center">Bejelentkezés</h2>
              </div>
              <div class="card-body">
                <form
                  method="post"
                  role="form"
                  th:action="@{/loginrequest}"
                  class="form-horizontal"
                >
                  <div class="form-group mb-3">
                    <label class="control-label"> Email</label>
                    <input
                      type="text"
                      id="email"
                      name="email"
                      class="form-control"
                      placeholder="Írd be az emailed"
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label class="control-label"> Jelszó</label>
                    <input
                      type="password"
                      id="password"
                      name="password"
                      class="form-control"
                      placeholder="Írd be a jelszavad"
                    />
                  </div>
                  <div class="text-center">
                    <button type="submit" class="button-62">
                      Bejelentkezés
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Content End -->
    <!-- Footer Start -->
    <div class="container py-5" id="footer"></div>
    <!-- Footer End -->

    <!-- Load Header and Footer for every page -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
      $(function () {
        $("#header").load("header.html");
        $("#footer").load("footer.html");
      });
    </script>
  </body>
</html>
