.navbar .navbar-nav .nav-link{
    font-weight: bolder;
}

@media screen and (min-width:992px){
    .navbar .navbar-nav .nav-link{
        padding: 0.1em;
    }
    
    .nav-item:not(:last-child){
        border-right: solid 3px;
    }
}

.search{
    background-color: rgb(140, 0, 255);
}